@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
body {
  	margin: 0; line-height: normal;
}





.topEdge {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #0424d9;
  	width: 1370px;
  	height: 11px;

}

 .registerFromAnywhereIcon {
  	position: relative;
  	top: 156px;
  	left: 586px;
  	width: 750.1px;
  	height: 500.9px;
  
} 



.funArrow2Icon {
  	position: absolute;
  	height: 5.67%;
  	width: 3.47%;
  	top: 87.5%;
  	right: 66.35%;
  	bottom: 27.82%;
  	left: 33.18%;

}
.home {
  	position: absolute;
  	top: 27px;
  	left: 300px;
  	font-weight: 600;
	font-size:22px;
}
.academics {
  	position: absolute;
  	top: 27px;
  	left: 520px;
  	font-weight: 600;
	font-size:22px;
}
.newsEvents {
  	position: absolute;
  	top: 27px;
  	left: 770px;
  	font-weight: 600;
	font-size:22px;
}
.aboutUs {
  	position: absolute;
  	top: 27px;
  	left: 1030px;
  	font-weight: 600;
	font-size:22px;
}
.homepageChild {
  	position: absolute;
  	top: 66px;
  	left: 358px;
  	max-height: 100%;
  	width: 40px;
}


.loginBtnChild {
  	position: absolute;
  	top: 20px;
  	
  	border-radius: 5px;
  	background-color: #f29f05;
  	width: 155px;
  	height: 45px;	
  	left: 1180px;
  	letter-spacing: 0.3em;
  	color: #f0f1f2;
    border-radius: 30px;
  	cursor: pointer;
    font-family:Poppins;
    border:none;
}


.arrowRightIcon {
  	position:relative;
  	top: -21px;
  	left: 95px;
  	width: 31px;
  	height: 24px;
	display:flex;

}
.login {
  	position: absolute;
  	top: 7px;
  	left: 30px;
  	letter-spacing: 0.1em;
  	font-weight: 600;
  	display: inline-block;
  	width: 71px;
}
.loginBtn {
  	position: absolute;
  	top: 24px;
  	left: 1200px;
  	width: 155px;
  	height: 10px;
  	cursor: pointer;
  	font-size: 20px;
  	color: #fff;
	
}
.funArrow1Icon {
  	position: absolute;
  	top: 120px;
  	left: 34px;
  	width: 35.3px;
  	height: 50.6px;
  	overflow: hidden;
  	object-fit: contain;
	display:flex;
}
.manualRegistrationMade {
  	position: absolute;
  	top: 160px;
  	left: 60px;
  	font-size: 20px;
  	color: #000;
	display:flex;
}
.noMoreLong {
  	position: absolute;
  	top: 550px;
  	left: 60px;
  	font-size: 20px;
  	color: #000;
}
.wantMoreInfo {
  	position: absolute;
  	top: 750px;
  	left: 620px;
  	font-size: 20px;
  	color: #000;
}
.streamline {
  	margin: 0;
}
.streamlineYourSemesterContainer {
  	position: absolute;
  	top: 200px;
  	left: 62px;
  	font-size: 49px;
  	line-height: 70px;
  	font-weight: 600;
  	display: inline-block;
  	width: 582px;
  	height: 495px;
}
.possa {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	letter-spacing: 0.2em;
  	font-weight: 800;
	font-size:25px;
}
.possavariant3 {
  	position: absolute;
  	top: 27px;
  	left: 15px;
  	width: 106px;
  	height: 38px;
}
.learnMore1 {
  	position: relative;
}
.learnMore {
  	position: relative;
  	top: 810px;
  	left: -530px;
  	background-color: rgba(217, 217, 217, 0);
  	border: 1px solid rgba(0, 0, 0, 0.8);
  	box-sizing: border-box;
  	width: 130px;
  	height: 42px;
  	display: flex;
  	flex-direction: center;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 8px;
  	font-size: 20px;
  	color: #000;
}


	


/* Default styles for large screens */
.homepage {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
   	width: 100%;


} 

/* Styles for medium screens (tablets) */
 @media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
} 

/* Styles for small screens (mobile) */
@media (max-width: 400px) {
  .container {
    padding: 1rem;
    text-align: center;
  }

  .button {
    width: 100%;
  }
}


 

 
