.footer {
    width: 100%;
    background-color:#153D6F;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
}

.footer ul {
    display: flex;
    justify-content: flex-end; 
}

.footer li {
    padding: 0.1rem;
}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.line {
    margin-bottom: 1rem;
}

.firstfoot{
       text-align: left;

}
.foottext{
      text-align: left;
}

.footlist{
    flex-direction:column;
     text-align: right;
       margin-top:-7rem;
}

.foot{
    flex-direction:column;
    margin-top:-11rem;
    flex-direction:column;

}
.myfoot{
      flex-direction:column;
}
.lastfoot{
    border-width:0.5px;
    width:1240;
    color:#FFFFFF80
}

.linefooter-container{
    flex-direction: row;
    justify-content:space-evenly
}
.copy{
    justify-content: flex-start; 
    display:flex;
     margin-top:2rem;
}
.right{
        margin-top:-1rem;

}

.socials-container {
  display: flex;
  justify-content: flex-end; 
  gap: 15px; 
          margin-top:-1.4rem;
}

.socials-container svg {
  cursor: pointer;
  transition: transform 0.3s;
}

.socials-container svg:hover {
  transform: scale(1.1); 
}

