.hero {
    background-color: var(--overlay);
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align:left;
     
}

.hero:before {
    content: '';
    background: url('../images/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    align-items:left;
}

.hero .content p:first-child {
    font-style: italic;
    font-size: .9rem;
     text-align:left;

}

.hero .content p:nth-child(2) {
    font-size: 1rem;
    font-weight:200;
}

.hero .content p:nth-child(3) {
    font-size: 4rem;
    font-weight: 700;
    /* align-items:'left' */
}


.hero .content p:nth-child(4) {
 
    font-weight: 100;
     font-size: 1.5rem;

}


@media screen and (max-width:940px) {
    .hero .content p:nth-child(3) {
        font-size: 2.6rem;
    }

    .hero .content p:nth-child(4) {
        font-size: 1.6rem;
    }
}










