.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}

.demo .container {
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top:50px
  

}

.demo .col-1 p:nth-child(1) {
    font-size: 1rem;
   
    color:#B79A64
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
    color: #153D6F;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height:30px
}
.demo .col-1 p:nth-child(4) {
    font-size: 1.3rem;
    margin-bottom: 1rem;
   color: #153D6F;
    
}
.demo .col-1 p:nth-child(5) {
    font-size: 1.3rem;
    margin-bottom: 1rem;
 
     color:#B79A64
}


.demo .col-2 {
    margin: auto;
}

   .demo img {
        width: 452px;
height: 505px;

   }


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo img {
        width: 382px;
height: 435px;

       
    }
}











